.idea/
/tmp/

geckodriver.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Translations
*.mo
*.pot

# dotenv
.env

.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid
